@use "variables" as vars;

* {
    box-sizing: border-box;
}

html {
    @include vars.roboto-mono-medium;
    color: vars.$chalkboard;
    height: 100vh;
    overflow: hidden;
}

p {
    line-height: 1.3125;
    margin-bottom: .75rem;
}

h1, h2, h3, h4, h5, h6 {
    @include vars.homemade-apple;
    text-transform: lowercase;
    line-height: 1.3125;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: vars.$cream;
    @include vars.autoprefix(transition, color .1s cubic-bezier(.19,.61,.18,.99), webkit);

    &:hover {
        color: vars.$coffee;
    }
}

.fadeIn {
    position: relative;
    opacity: 0;
    top: 50px;
    transition: opacity .75s vars.$snap-ease-out, top .75s vars.$snap-ease-out;
    transition-delay: .25s;

    &.visible {
        opacity: 100;
        top: 0px;
    }
}
