@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

//fonts
@mixin roboto-mono {
    font-family: "Roboto Mono";
    font-weight: 400;
}

@mixin roboto-mono-medium {
    font-family: "Roboto Mono";
    font-weight: 500;
}

@mixin homemade-apple {
    font-family: "Homemade Apple";
}

//colors
$cream: #FFF9E3;
$coffee: #E47525;
$mint-tea: #63DACC;
$chalkboard: #262626;

//Mixins
//Autoprefixer
@mixin autoprefix($prop, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{"-" + $prefix + "-" + $prop}: $value;
    }
    #{$prop}: $value;
}
