@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

//fonts
@mixin roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}

@mixin roboto-mono-medium {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
}

@mixin homemade-apple {
    font-family: "Homemade Apple", serif;
}

//colors
$cream: #FFF9E3;
$coffee: #E47525;
$mint-tea: #63DACC;
$chalkboard: #262626;

$snap-ease-out: cubic-bezier(.19,.61,.18,.99);
$snap-ease: cubic-bezier(.5,.14,.39,.99);

//Mixins
//Autoprefixer
@mixin autoprefix($prop, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{"-" + $prefix + "-" + $prop}: $value;
    }
    #{$prop}: $value;
}

@mixin gradient($color, $img-url, $direction: 'to right') {
    background: linear-gradient(90deg, rgba($color,1) 0%, rgba($color,.9) 35%, rgba($color,.3) 100%), url($img-url);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

//Animations
@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
}

@keyframes bounce {
    from {
        bottom: 25px;
    }

    to {
        bottom: 15px;
    }
}
