@use "meyer";
@use "variables" as vars;
@use "defaults";

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .panel {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100vh;
        background-color: vars.$mint-tea;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;

        .panelContent {
            width: (1280 / 1440) * 100%;
            max-width: 1280px;

            height: 100vh;
            padding: 25px 0;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-column-gap: 20px;

            img {
                order: 1;
                max-width: 100%;
                max-height: 100%;
                grid-column: 1 / 7;
                margin: auto auto;
                @include vars.autoprefix(filter, drop-shadow(0px 25px 50px rgba(vars.$chalkboard, 0.25)), webkit);
            }

            .panelText {
                order: 2;
                grid-column: 7 / 10;
                margin: auto auto;

                h2 {
                    margin-bottom: 8px;
                }

                p {
                    margin-bottom: 16px;
                }

                a {
                    color: vars.$chalkboard;
                    font-weight: 500;

                    &:hover {
                        color: vars.$cream;
                    }
                }
            }
        }

        &:nth-child(2n+1) {
            background-color: vars.$coffee;

            img {
                order: 2;
                grid-column: 6 / 10;
            }

            .panelText {
                order: 1;
                grid-column: 2 / 5;
            }
        }

        &:first-of-type {
            background-color: vars.$chalkboard;
            color: vars.$cream;
            text-align: center;

            .pageHeaderContent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    text-transform: none;
                    margin-bottom: 72px;
                }

                p {
                    font-size: 1.25rem;
                    text-align: center;
                    animation: fadein .75s ease-out 1s both;
                }

                p:nth-of-type(2) {
                    animation: fadein .75s ease-out 3s both;
                }

                img {
                    position: absolute;
                    bottom: 25px;
                    animation: .5s ease-in-out 0s infinite alternate both bounce, fadein .75s ease-out 5s both;

                    &.hidden {
                        display: none;
                    }
                }
            }
        }

        &:last-of-type {
            background-color: vars.$chalkboard;
            color: vars.$cream;
            text-align: center;

            h2 {
                margin-bottom: 72px;
            }

            p {
                font-size: 1.25rem;
            }

            nav {
                p {
                    display: inline;
                    font-size: 1rem;

                    a {
                        padding: 0 1rem;
                    }
                }
            }
        }

        &.notfound {
            h1 {
                @include vars.roboto-mono-medium;
                font-size: 10rem;
            }
        }
    }
}

#copyright {
    position: fixed;
    bottom: 0;
    right: 10px + 20px;
    font-size: .75rem;
    color: vars.$cream;
    opacity: 100;
    @include vars.autoprefix(transition, opacity .3s ease-out, webkit);

    &.hidden {
        opacity: 0;
    }
}
