@use "meyer";
@use "variables" as vars;
@use "defaults";

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .panel {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100vh;
        background-color: vars.$mint-tea;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .panelContent {
            width: (1280 / 1440) * 100%;
            max-width: 1440px;
            height: 100vh;
            padding: 25px 0;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-gap: 20px;
        }

        &:nth-child(2n+1) {
            background-color: vars.$coffee;
        }

        &:first-of-type {
            background-color: vars.$chalkboard;
            color: vars.$cream;
            text-align: center;

            .pageHeaderContent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h1 {
                text-transform: none;
                margin-bottom: 72px;
            }

            p {
                font-size: 1.25rem;
                text-align: center;
                animation: fadein .75s ease-out 1s both;
            }

            p:nth-of-type(2) {
                animation: fadein .75s ease-out 3s both;
            }
        }
    }
}
