@use "meyer";
@use "variables" as vars;
@use "defaults";

.navigation {
    img {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 100;
    }

    .navfade {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(vars.$chalkboard, 0.75);
        z-index: 98;
        opacity: 0;
        pointer-events: none;

        @include vars.autoprefix(transition, opacity .3s vars.$snap-ease-out, webkit);

        &.visible {
            opacity: 1;
            pointer-events: all;
        }
    }

    .mainNav {
        position: fixed;
        top: 0;
        right: -20%;
        width: 20%;
        max-width: 300px;
        min-width: 260px;
        padding: 24px;
        height: 100vh;
        background-color: vars.$chalkboard;
        opacity: 0;
        z-index: 99;

        @include vars.autoprefix(transition, (right .3s vars.$snap-ease-out, opacity .3s vars.$snap-ease-out), webkit);


        &.visible {
            opacity: 1;
            right: 0;
        }

        a {
            display: inline-block;
            padding: 12px;
            text-decoration: none;

            &.selected {
                color: vars.$coffee;
            }
        }

        .subNav {
            li {
                margin-left: 12px;
                font-size: .9rem;
            }
        }
    }
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .panel {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100vh;
        background-color: vars.$mint-tea;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;

        .panelContent {
            width: (1280 / 1440) * 100%;
            max-width: 1280px;

            height: 100vh;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-column-gap: 20px;

            img {
                order: 1;
                max-width: 100%;
                max-height: 100%;
                grid-column: 1 / 7;
                margin: auto auto;
                @include vars.autoprefix(filter, drop-shadow(0px 25px 50px rgba(vars.$chalkboard, .3)), webkit);
                //@include vars.autoprefix(transition, transform .3s cubic-bezier(.19,.61,.18,.99), webkit);

                //&:hover {
                    //transform: scale(1.03);
                //}
            }

            .panelText {
                order: 2;
                grid-column: 8 / 11;
                margin: auto auto;
                width: 100%;
                position: relative;

                h2 {

                    margin-bottom: 48px;
                }

                p {
                    margin-bottom: 16px;
                }

                a {
                    color: vars.$chalkboard;
                    font-weight: 500;

                    &:hover {
                        color: vars.$cream;
                    }
                }
            }
        }

        &:nth-child(2n+1) {
            background-color: vars.$coffee;


            img {
                order: 2;
                grid-column: 5 / 11;
            }

            .panelText {
                order: 1;
                grid-column: 1 / 4;
            }
        }

        &:first-of-type {
            background-color: vars.$chalkboard;
            color: vars.$cream;
            text-align: center;

            .pageHeaderContent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    text-transform: none;
                    margin-bottom: 56px;
                }

                p {
                    font-size: 1.25rem;
                    text-align: center;
                    animation: fadein .75s vars.$snap-ease-out 1s both;
                }

                p:nth-of-type(2) {
                    animation: fadein .75s vars.$snap-ease-out 2s both;
                }

                img {
                    position: absolute;
                    bottom: 25px;
                    animation: .5s vars.$snap-ease 0s infinite alternate both bounce, fadein .5s vars.$snap-ease 5s both;

                    &.hidden {
                        display: none;
                    }
                }
            }
        }

        &:last-of-type {
            background-color: vars.$chalkboard;
            color: vars.$cream;
            text-align: center;

            h2 {
                margin-bottom: 56px;
            }

            p {
                font-size: 1.25rem;
            }

            nav {
                margin-bottom: 2rem;
                a {
                    display: inline;
                    font-size: 1.25rem;
                    padding: 0 1rem;
                }
            }
        }

        &.notfound {
            h1 {
                @include vars.roboto-mono-medium;
                font-size: 10rem;
                position: relative;

                animation: shake .5s ease-in-out;
            }

            p {
                animation: fadein .75s vars.$snap-ease-out 2s both;
            }

            p:first-of-type {
                animation: fadein .75s vars.$snap-ease-out 1s both;
            }

            @keyframes shake {
                0% {
                    left: 0;
                }

                20% {
                    left: 3px;
                }

                40% {
                    left: -3px;
                }

                60% {
                    left: 2px;
                }

                80% {
                    left: -2px;
                }

                100% {
                    left: 0px;
                }
            }
        }
    }
}

#copyright {
    position: fixed;
    bottom: 30px;
    left: 30px;
    font-size: .75rem;
    color: vars.$cream;
    opacity: 100;
    padding: 0;
    margin: 0;
    line-height: 1;
    //@include vars.autoprefix(transition, opacity .3s vars.$snap-ease-out, webkit);

    //&.hidden {
        //opacity: 0;
    //}
}
