@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
}
@keyframes bounce {
  from {
    bottom: 25px;
  }
  to {
    bottom: 15px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #262626;
  height: 100vh;
  overflow: hidden;
}

p {
  line-height: 1.3125;
  margin-bottom: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Homemade Apple", serif;
  text-transform: lowercase;
  line-height: 1.3125;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: #FFF9E3;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}
a:hover {
  color: #E47525;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.container .panel {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  background-color: #63DACC;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.container .panel .panelContent {
  width: 88.8888888889%;
  max-width: 1280px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
}
.container .panel .panelContent img {
  order: 1;
  max-width: 100%;
  max-height: 100%;
  grid-column: 1/7;
  margin: auto auto;
  -webkit-filter: drop-shadow(0px 25px 50px rgba(38, 38, 38, 0.3));
  filter: drop-shadow(0px 25px 50px rgba(38, 38, 38, 0.3));
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.container .panel .panelContent .panelText {
  order: 2;
  grid-column: 8/11;
  margin: auto auto;
  width: 100%;
  position: relative;
}
.container .panel .panelContent .panelText.fadeIn {
  opacity: 0;
  top: 50px;
  transition: opacity 0.5s ease-out, top 0.5s ease-out;
  transition-delay: 0.25s;
}
.container .panel .panelContent .panelText.fadeIn.visible {
  opacity: 100;
  top: 0px;
}
.container .panel .panelContent .panelText h2 {
  margin-bottom: 48px;
}
.container .panel .panelContent .panelText p {
  margin-bottom: 16px;
}
.container .panel .panelContent .panelText a {
  color: #262626;
  font-weight: 500;
}
.container .panel .panelContent .panelText a:hover {
  color: #FFF9E3;
}
.container .panel:nth-child(2n+1) {
  background-color: #E47525;
}
.container .panel:nth-child(2n+1) img {
  order: 2;
  grid-column: 5/11;
}
.container .panel:nth-child(2n+1) .panelText {
  order: 1;
  grid-column: 1/4;
}
.container .panel:first-of-type {
  background-color: #262626;
  color: #FFF9E3;
  text-align: center;
}
.container .panel:first-of-type .pageHeaderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .panel:first-of-type .pageHeaderContent h1 {
  text-transform: none;
  margin-bottom: 56px;
}
.container .panel:first-of-type .pageHeaderContent p {
  font-size: 1.25rem;
  text-align: center;
  animation: fadein 0.75s ease-out 1s both;
}
.container .panel:first-of-type .pageHeaderContent p:nth-of-type(2) {
  animation: fadein 0.75s ease-out 3s both;
}
.container .panel:first-of-type .pageHeaderContent img {
  position: absolute;
  bottom: 25px;
  animation: 0.5s ease-in-out 0s infinite alternate both bounce, fadein 0.75s ease-out 7s both;
}
.container .panel:first-of-type .pageHeaderContent img.hidden {
  display: none;
}
.container .panel:last-of-type {
  background-color: #262626;
  color: #FFF9E3;
  text-align: center;
}
.container .panel:last-of-type h2 {
  margin-bottom: 56px;
}
.container .panel:last-of-type p {
  font-size: 1.25rem;
}
.container .panel:last-of-type nav {
  margin-bottom: 2rem;
}
.container .panel:last-of-type nav p {
  display: inline;
  font-size: 1rem;
}
.container .panel:last-of-type nav p a {
  padding: 0 1rem;
}
.container .panel.notfound h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 10rem;
}

#copyright {
  position: fixed;
  bottom: 0;
  right: 30px;
  font-size: 0.75rem;
  color: #FFF9E3;
  opacity: 100;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
#copyright.hidden {
  opacity: 0;
}

/*# sourceMappingURL=App.css.map */
